/* 
    Created on : 06/11/2015, 16:08:53
    Author     : Allan Vigiano
*/
#header{
    text-align: right;
    float: right;
    font-size: 10px;
    width: 5cm;
}
#footer {
    width: 100%;
    border-top: #000 3px solid;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
}
#header-primeira-pagina {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: -7mm;     
    margin-bottom: 5mm;
    border-bottom: #000 3px solid;
    border-top: none;
    
    //border:#ccc 1px solid;
}
#titulo {
    font-size: 15px;
    text-decoration: underline;
}
#imagem {
    max-height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}